@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant high-contrast (&:where(.high-contrast, .high-contrast *)); 

:root {
    --bg-test: white;

    --toastContainerTop: 2rem;
    --toastContainerRight: auto;
    --toastContainerBottom: auto;
    --toastContainerLeft: calc(50vw - 16rem);
    --toastWidth: 32rem;
}

.dark {
    --bg-test: black;
} 

.high-contrast {
    --bg-test: red;
}


@theme inline {
  --color-test: var(--bg-test);
}